# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic / Scratch
.system_generated
scratch/

# Dependencies
node_modules/
client/node_modules/
server/node_modules/
jspm_packages/

# Build artifacts
dist/
client/dist/
build/
*.local

# Environment & Secret files
.env
.env.*
!.env.example
client/.env
client/.env.*
!client/.env.example
server/.env
server/.env.*
!server/.env.example

# Editor / OS directories & files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
